.body{
   padding: 30px 50px;
  background: #fffaf5;
  border-bottom: 1px solid #ffd9bf;
  
}
.card-border {
  border: 1px solid #ffd9bf;
}
.card-content {
  color: #8b2c00;
}
.Model-content{
    margin-top: 20px;
}

.button {
  background-color: #ff7a18;
  border: #ff7a18;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 8px;
  height: 45px;
  width: 16%;
}
.button-like {
  background-color: #06c940;
  border: #06c940;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  height: 45px;
  width: 16%;
}
.button-2 {
  background-color: #2aa3d3;
  border: #2aa3d3;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  height: 45px;
  width: 16%;
}
.Modal-button{
    width: 100%;
    background-color: #ff7a18;
    margin-top: 20px;
}
.modal{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}
.card-mini {
  color: #8b2c00;
  background: #fff7f0;
  margin-top: 20px;
}
.form-button{
 background-color:red;
  border: red;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  margin-left:75%;
  margin-top: 10px;
  height: 40px;
  width: 25%;
}
.modaldiv{
    display: flex;
    margin: 10px 10px 5px 20px;  
}
.tag{
    margin-left: 15px;
}
.formbutton{
  background-color:#ff7a18;
  border:#ff7a18;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  margin-left:77%;
  margin-top: 10px;
  height: 40px;
  width: 20%;
}