.parent {
  margin: 150px 150px 100px 150px;
}
.heading {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.cardparent {
  padding: 100px;
}
.carditem {
  padding: 30px;
}
.heading-content {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ff7a18;
  border: #ff7a18;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.circle2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color:blue;
  border: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.card-parent {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.button {
  background-color: #ff7a18;
  width: 120px;
}
.createacount {
  font-size: 28px;
  padding-bottom: 10px;
  font-weight: 
    500;
}
.createcontent {
  font-size: 18px;
  padding-bottom: 10px;
}
.cardheading{
  font-size: 22px;
    font-weight: 500;
  padding-bottom: 10px;
}
.card {
 text-align: center;
}
.cardfix{
    padding-left: 110px;
}
.tripplecardfix{
    margin: 15px; 
}
.triplecard{
    text-align: center;
    display: flex;
}
.button2 {
  background-color: #ff7a18;
  border: #ff7a18;
  border-radius: 16px;
  font-size: 16px;
  width: 90px;
  color: white;
  height: 35px;

}
.button2-1 {
  background-color:#0000ff;
  border: #0000ff;
  border-radius: 16px;
  
  font-size: 16px;
  width: 120px;
  color: white;
  height: 35px;

}
.lastcard{
    font-size: 15px;
    padding: 15px 0px 0px 0px;

}
.cardheader{
    display: flex;
    padding: 0px 100px 0px 100px;
}