
.signup-wrapper {
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 1000px;
  height: 600px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


.signup-image {
  flex: 1;
  background: url("https://images.unsplash.com/photo-1503387762-592deb58ef4e")
    center/cover no-repeat;
  position: relative;
}

.image-overlay {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff;
  max-width: 80%;
}

.image-overlay h2 {
  font-size: 26px;
  font-weight: 700;
}

.image-overlay p {
  font-size: 14px;
  opacity: 0.9;
}


.signup-form-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-card {
  width: 85%;
  border-radius: 16px;
}

.signup-title {
  font-size: 28px;
  font-weight: 700;
  color: #ff6a00;
  margin-bottom: 5px;
}

.signup-subtitle {
  color: #777;
  margin-bottom: 20px;
}


.role-group {
  width: 100%;
  margin-bottom: 20px;
}

.role-group .ant-radio-button-wrapper {
  width: 33.33%;
  text-align: center;
  font-weight: 600;
}

.signup-btn {
  background: linear-gradient(135deg, #ff9a3c, #ff6a00);
  border: none;
  font-weight: 600;
}

.signup-btn:hover {
  background: #e65c00 !important;
}


.terms {
  color: #ff6a00;
  font-weight: 500;
  cursor: pointer;
}

.ant-input:focus,
.ant-input-focused {
  border-color: #ff6a00 !important;
  box-shadow: 0 0 0 2px rgba(255, 106, 0, 0.2);
}
